{% extends 'base.html' %}

{% block media %}
<link rel="stylesheet" href="{{ static('term.css') }}">
{% endblock %}

{% block title_row %}
    {% set tab = 'term-two' %}
    {% include "term/term-tabs.html" %}
{% endblock %}

{% block body %}
<div class="content">
    <div class="chapter">
        <div class="chapter-title"><h2>제2장 이용계약의 체결</h2></div>
        <div class="chapter-detail">
            <div class="article">
                <div class="article-title"><h3>제7조 (이용신청 및 방법)</h3></div>
                <div class="article-detail">
                    ① 서비스 제공자가 제공하는 서비스를 이용하고자 하는 자는 서비스 제공자가 초기 화면이나 서비스 홈페이지(litmus.jedutools.io)에서 제공하는 이용신청서를 작성하는 방법으로 이용신청을 하여야 합니다.<br>
                    ② 이용자는 이용신청시 서비스 제공자가 요구하는 제반 정보를 제공하여야 합니다.<br>
                    ③ 이용자는 제1항의 이용 신청 시 본인의 실명 및 실제 정보를 기재하여야 합니다. 실명 또는 식별정보를 허위로 기재하거나 타인의 명의를 도용한 경우 이 약관에 의한 회원의 권리를 주장할 수 없고, 서비스 제공자는 이용계약을 취소하거나 해지할 수 있습니다.                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제8조 (이용신청의 승낙과 제한)</h3></div>
                <div class="article-detail">
                    ① 서비스 제공자는 서비스 제공자가 이용자에게 요구하는 정보에 대해 이용자가 실명 및 실제 정보를 정확히 기재하여 이용신청을 한 경우에 상당한 이유가 없는 한 이용신청을 승낙합니다.<br>
                    ② 서비스 제공자는 다음 각 호의 어느 하나에 해당하는 이용신청에 대해서는 승낙을 하지 않을 수 있습니다.<br>
                    <div class="detail">
                        1. 제7조에 위반하여 이용신청을 하는 경우<br>
                        2. 최근 1개월 내 이용제한 기록이 있는 이용자가 이용신청을 하는 경우<br>
                        3. 대한민국 이외의 국가 중 서비스 제공자에서 아직 서비스를 제공할 것으로 결정하지 않은 국가에서 서비스를 이용하는 경우로 서비스 제공자가 해외 서비스 업체와 체결한 계약이나 특정 국가에서 접속하는 회원에 대한 서비스 제공과 관련하여 서비스제공을 제한할 필요가 있는 경우<br>
                        4. 「정보통신망 이용촉진  및 정보보호 등에 관한 법률」 및 그 밖의 관계 법령에서 금지하는 위법행위를 할 목적으로 이용신청을 하는 경우<br>
                        5. 그 밖에 1호 내지 4호에 준하는 사유로서 승낙이 부적절하다고 판단되는 경우<br>
                    </div>
                    ③ 서비스 제공자는 다음 각 호의 어느 하나에 해당하는 경우에는 그 사유가 해소될 때까지 승낙을 유보할 수 있습니다.<br>
                    <div class="detail">
                        1. 서비스 제공자의 설비에 여유가 없거나 기술적 장애가 있는 경우<br>
                        2. 서비스 상의 장애 또는 클라우드 환경의 장애가 발생한 경우<br>
                        3. 그 밖에 위 각 호에 준하는 사유로서 이용신청의 승낙이 곤란한 경우
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제9조 (회원 계정(ID) 및 비밀번호)</h3></div>
                <div class="article-detail">
                    ① 서비스 제공자는 회원에 대하여 회원의 정보 보호, 서비스 이용안내 등의 편의를 위해 회원이 선정한 일정한 문자, 숫자 또는 특수문자의 조합을 계정으로 부여합니다.<br>
                    ② 서비스 제공자는 계정정보를 통하여 당해 회원의 서비스 이용가능 여부 등의 제반 회원 관리업무를 수행합니다.<br>
                    ③ 회원은 자신의 계정정보를 선량한 관리자로서의 주의 의무를 다하여 관리하여야 합니다. 회원이 본인의 계정정보를 소홀히 관리하거나 제3자에게 이용을 승낙함으로써 발생하는 손해에 대하여는 회원에게 책임이 있습니다.<br>
                    ④ 비밀번호의 관리책임은 회원에게 있으며, 회원이 원하는 경우에는 보안상의 이유 등으로 언제든지 변경이 가능합니다.<br>
                    ⑤ 회원은 정기적으로 비밀번호를 변경하여야 합니다.          
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제10조 (회원 정보의 제공 및 변경)</h3></div>
                <div class="article-detail">
                    ① 회원은 이 약관에 의하여 서비스 제공자에 정보를 제공하여야 하는 경우에는 진실된 정보를 제공하여야 하며, 허위정보 제공으로 인해 발생한 불이익에 대해서는 보호받지 못합니다.<br>
                    ② 회원은 개인정보관리화면을 통하여 언제든지 자신의 개인정보를 열람하고 수정할 수 있습니다. 다만, 서비스 관리를 위해 필요한 실명, 계정(ID) 등은 수정이 불가능합니다.<br>
                    ③ 회원은 회원가입 신청 시 기재한 사항이 변경되었을 경우 온라인으로 수정을 하거나 기타 방법으로 서비스 제공자에 대하여 그 변경사항을 알려야 합니다.<br>
                    ④ 제2항의 변경사항을 서비스 제공자에 알리지 않아 발생한 불이익에 대하여 서비스 제공자는 책임을 지지 않습니다.        
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제11조 (개인정보의 보호 및 관리)</h3></div>
                <div class="article-detail">
                    ① 서비스 제공자는 관계 법령이 정하는 바에 따라 계정정보를 포함한 회원의 개인정보를 보호하기 위해 노력합니다. 회원 개인정보의 보호 및 사용에 대해서는 관계법령 및 서비스 제공자가 별도로 고지하는 개인정보취급방침이 적용됩니다.<br>
                    ② 서비스의 일부로 제공되는 개별 서비스를 제외한 것으로서 홈페이지 및 서비스별 웹사이트에서 단순히 링크된 제3자 제공의 서비스에 대하여는 서비스 제공자의 개인정보취급방침이 적용되지 않습니다.<br>
                    ③ 서비스 제공자는 회원의 귀책사유로 인하여 노출된 회원의 계정정보를 포함한 모든 정보에 대해서 일체의 책임을 지지 않습니다.                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}