{% extends 'base.html' %}

{% block media %}
<link rel="stylesheet" href="{{ static('term.css') }}">
{% endblock %}

{% block title_row %}
    {% set tab = 'term-four' %}
    {% include "term/term-tabs.html" %}
{% endblock %}

{% block body %}
<div class="content">
    <div class="chapter">
        <div class="chapter-title"><h2>제4장 서비스 이용</h2></div>
        <div class="chapter-detail">
            <div class="article">
                <div class="article-title"><h3>제14조 (서비스의 변경 및 내용수정)</h3></div>
                <div class="article-detail">
                    ① 회원은 서비스 제공자가 제공하는 서비스를 이 약관, 운영정책 및 서비스 제공자가 설정한 이용규칙에 따라 이용할 수 있습니다.<br>
                    ② 서비스 제공자가 서비스를 통하여 회원에게 제공하는 서비스는 서비스 제공자가 창조한 가상세계로서 서비스 제공자는 내용의 제작, 변경, 유지, 보수에 관한 포괄적인 권한을 가집니다.<br>
                    ③ 서비스 제공자는 현실 세계로부터 가상세계를 보호하고 세계의 질서와 서비스를 유지하기 위하여 필요한 조치를 취합니다.<br>
                    ④ 서비스 제공자가 상당한 이유가 있는 경우에 운영상, 기술상의 필요에 따라 서비스 수정(패치)을 할 수 있으며, 서비스 수정(패치)을 하는 경우에는 공지할 의무를 가지지 않습니다.                
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제15조 (서비스의 제공 및 중단 등)</h3></div>
                <div class="article-detail">
                    ① 서비스는 서비스 제공자의 영업방침에 따라 정해진 시간동안 제공합니다.<br>
                    ② 제1항에도 불구하고, 다음 각 호의 어느 하나에 해당하는 경우에는 일정한 시간동안 서비스가 제공되지 아니할 수 있으며, 해당 시간 동안 서비스 제공자는 서비스를 제공할 의무가 없습니다.<br>
                    <div class="detail">
                        1. 컴퓨터 등 정보통신설비의 보수점검, 교체, 정기점검 또는 내용이나 서비스의 수정을 위하여 필요한 경우<br>
                        2. 해킹 등의 전자적 침해사고, 통신사고, 회원들의 비정상적인 이용행태, 미처 예상하지 못한 서비스의 불안정성에 대응하기 위하여 필요한 경우<br>
                        3. 관련 법령에서 특정 시간 또는 방법으로 서비스 제공을 금지하는 경우<br>
                        4. 천재지변, 비상사태, 정전, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 서비스 제공이 불가능할 경우<br>
                        5. 서비스 제공자의 변경, 합병, 양도, 운영 권한의 폐지, 서비스의 지속성 약화 등 서비스 제공자의 운영상 중대한 필요에 의한 경우<br>
                    </div>
                    ③ 서비스 제공자는 제2항 제1호의 경우, 매주 또는 격주 단위로 일정 시간을 정하여 서비스를 중지할 수 있습니다. 이 경우 서비스 제공자는 최소한 24시간 전에 그 사실을 회원에게 초기 화면이나 서비스 홈페이지(litmus.jedutools.io)에 고지합니다.<br>
                    ④ 제2항 제2호의 경우, 서비스 제공자는 사전 고지 없이 서비스를 일시 중지할 수 있습니다. 서비스 제공자는 이러한 경우 그 사실을 초기 화면이나 서비스 홈페이지(litmus.jedutools.io)에 사후 고지할 수 있습니다.<br>
                    ⑤ 서비스 제공자는 서비스 제공자가 제공하는 무료서비스 이용과 관련하여 이용자에게 발생한 어떠한 손해에 대해서도 책임을 지지 않습니다. 다만, 서비스 제공자의 고의 또는 중대한 과실로 인하여 발생한 손해의 경우는 제외합니다.<br>
                    ⑥ 제2항 제3호 내지 제5호의 경우에 서비스 제공자는 기술상․운영상 필요에 의해 서비스 전부를 중단할 수 있으며, 24시간 전에 홈페이지에 이를 공지하고 서비스의 제공을 중단할 수 있습니다. 사전에 통지할 수 없는 부득이한 사정이 있는 경우는 사후에 통지를 할 수 있습니다.
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제16조 (정보의 제공)</h3></div>
                <div class="article-detail">
                    서비스 제공자는 다음의 사항을 초기 화면이나 인터넷 웹사이트인 서비스 홈페이지(litmus.jedutools.io)에 회원이 알기 쉽게 표시합니다.<br>
                    <div class="detail">
                        1. 서비스명<br>
                        2. 제작자 정보<br>
                        3. 기타 서비스 제공자가 필요하다고 인정하는 사항
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제17조 (정보의 수집 등)</h3></div>
                <div class="article-detail">
                    ① 서비스 제공자는 서비스 내에서 회원간에 이루어지는 모든 내용을 저장ㆍ보관할 수 있습니다. 서비스 제공자는 회원간의 분쟁 조정, 민원 처리 또는 질서의 유지를 위하여 서비스 제공자가 필요하다고 판단하는 경우에 한하여 본 정보를 열람하도록 할 것이며, 본 정보는 서비스 제공자만이 보유하고 법령으로 권한을 부여 받지 아니한 제3자는 절대로 열람할 수 없습니다. 서비스 제공자는 해당 정보를 열람하기 전에 채팅정보의 열람이 필요한 사유 및 열람 범위를 개인에게 사전 고지하기로 합니다. 다만, 계정도용, 현금거래, 언어폭력, 사기 등 기망행위, 버그 악용, 기타 현행 법령 위반행위 및 이 약관 제13조에서 정하는 중대한 약관위반 행위의 조사, 처리, 확인 및 이의 구제와 관련하여 회원의 채팅 정보를 열람해야 할 필요가 있는 경우에는 고지할 의무를 가지지 않습니다.<br>
                    ② 서비스 제공자는 서비스 운영 및 프로그램 안정화 등 서비스 품질 개선을 위하여 회원 PC 등 단말기 설정 및 사양 정보 및 개인정보를 수집·활용할 수 있습니다.       
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제18조 (이용상품)</h3></div>
                <div class="article-detail">
                    ① 서비스 제공자는 회원이 별도 비용지급 없이 이용할 수 있는 서비스(이하 “무료서비스”라 한다)를 제공할 수 있습니다.            
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제19조 (사이버 포인트)</h3></div>
                <div class="article-detail">
                    ① 서비스 제공자는 회원의 콘텐츠 이용실적에 따라 사이버 포인트를 제공할 수 있으며, 서비스 제공자가 정한 유효기간 내에 사용되지 않은 사이버 포인트는 소멸될 수 있습니다.<br>
                    ② 사이버 포인트의 적립에 오류가 있을 경우 회원은 상당기간 내에 정정 신청을 할 수 있으며, 서비스 제공자는 확인절차를 거친 후 결과에 대하여 고지하고 필요한 경우 사이버 포인트에 정정 조치를 취할 수 있습니다.<br>
                    ③ 서비스 제공자는 경영상, 기술상 이유로 사전고지 후 사이버 포인트 서비스를 종료할 수 있으며, 서비스 제공자는 사전고지를 최소한 1개월 전에 하여야 합니다. 이 경우 사전에 고지한 서비스 종료일까지 사용되지 않은 기적립된 사이버 포인트는 소멸됩니다.            
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제20조 (저작권 등의 귀속)</h3></div>
                <div class="article-detail">
                    ① 서비스 내 서비스 제공자가 제작한 콘텐츠에 대한 저작권 기타 지적재산권은 서비스 제공자의 소유입니다.<br>
                    ② 회원은 서비스 제공자가 제공하는 서비스를 이용함으로써 얻은 정보 중 서비스 제공자 또는 제공업체에 지적재산권이 귀속된 정보를 서비스 제공자 또는 제공업체의 사전승낙 없이 복제, 전송, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안 됩니다.<br>
                    ③ 회원은 서비스 내에서 보여지거나 서비스와 관련하여 회원 또는 다른 이용자가 서비스를 통해 업로드 또는 전송하는 대화 텍스트를 포함한 커뮤니케이션, 이미지, 사운드 및 모든 자료 및 정보(이하 '이용자 콘텐츠'라 한다.)에 대하여 서비스 제공자가 이용하는 것을 허락합니다.         
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}